x-shared-env: &shared-api-worker-env
services:
  
  # API service
  api:
    image: ningtang/digital_person_api:1.0.0
    restart: always
    environment:
      # Use the shared environment variables
      <<: *shared-api-worker-env
      # Startup mode, 'api' starts the API server.
      MODE: api

    volumes:
      # Mount the storage directory to the container, for storing user files.
      - ./volumes/app/storage:/app/api/storage

  # worker service
  # The Celery worker for processing all queues
  worker:
    image: ningtang/digital_person_api:1.0.0
    restart: always
    environment:
      # Use the shared environment variables
      <<: *shared-api-worker-env
      # Startup mode, 'api' starts the API server.
      MODE: api

    volumes:
      # Mount the storage directory to the container, for storing user files.
      - ./volumes/app/storage:/app/api/storage

  # Maybe add a nginx